---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Pranav">
    <h1 slot="header-content" class="text-[var(--text-alt)]">Pranav Dutt Tripathi</h1>

    <div class="main">
        <main class="py-10">
            Hi there, I am <strong>Pranav</strong>. I am recent B.Tech graduate
            looking for exciting projects and opportunities. I enjoy working
            with computers, writing code, tinkering with and building software.
        </main>
        <p>
            <i>Now,</i>
            <br />
             Dabbling in the ever increasing JS/TS frameworks array, trying to
            build interactive and user-friendly web applications as well as
            experimenting with user interfaces and polishing web experiences for
            fun.
			</p>
            <br />
			<p>
             Take a look at some of my
            <a
                class="underline inline-block underline-offset-4 hover-1"
                href="https://github.com/pranavTripathi02">projects</a
            >
			or
            <a
                class="underline inline-block underline-offset-4 hover-1"
                href="mailto:pranav02.tripathi@gmail.com">click here</a>
			
        to send me an email. Thanks for stopping by!
</p> 
    </div>
    <Projects />
</Layout>

<style>
	h1 {
		font-size: 1.25rem;
	}
    .hover-1 {
        background: linear-gradient(#252525 0 0) var(--p, 0%) / var(--p, 0%) no-repeat;
        transition:
            0.4s,
            background-position 0s;
        border-radius: 0.275rem;
        padding: 0 0.25rem;
    }
    .hover-1:hover {
        --p: 100%;
    }
</style>
