---
// import { Link } from "../lib/Link";
// import Icon from "./Icon.astro";
import SitemapSVG from "../assets/sitemap.svg?raw"
import MailSVG from "../assets/mail.svg?raw"
import GithubSVG from "../assets/github.svg?raw"
---

<div class="mb-0 text-[var(--text)] mt-16 opacity-80">
	<hr class="h-px border-0 bg-[var(--text-alt)] opacity-30" />

	<footer class="flex justify-between px-2 mt-4 max-w-container mx-auto">
		<h1>Pranav Dutt Tripathi</h1>

		<div class="flex gap-4">
			<a
				class="hover:animate-pulse"
				href="/sitemap-index.xml"
				target="_blank"
				aria-label="sitemap link"
			>
				<div>
						<Fragment set:html={SitemapSVG}/>
				</div>
			</a>

			<a
				class="hover:animate-pulse"
				href="mailto:pranav02.tripathi@gmail.com"
				target="_blank"
				aria-label="mail link"
			>
				<div>
						<Fragment set:html={MailSVG}/>
				</div>

				<a
					class="hover:animate-pulse"
					href="https://github.com/pranavTripathi02"
					target="_blank"
					aria-label="github link"
				>
					<div title="GitHub">
						<Fragment set:html={GithubSVG}/>
					</div>
				</a>
			</a>
		</div>
	</footer>
</div>
