---
// import { Link } from "../lib/Link";
import Icon from "./Icon.astro";
---

<div class="mb-0 text-[var(--text-alt)] mt-16">
	<hr class="h-px border-0 bg-[var(--text-alt)] opacity-30" />

	<footer class="flex justify-between px-2 mt-4 max-w-container mx-auto">
		<h1 class="text-[var(--text-alt)]">Pranav Dutt Tripathi</h1>

		<div class="flex gap-4">
			<a
				class="hover:animate-pulse"
				href="/sitemap-index.xml"
				target="_blank"
				aria-label="sitemap link"
			>
				<div>
					<Icon icon="sitemap" />
				</div>
			</a>

			<a
				class="hover:animate-pulse"
				href="mailto:pranav02.tripathi@gmail.com"
				target="_blank"
				aria-label="mail link"
			>
				<div>
					<Icon icon="mail" />
				</div>

				<a
					class="hover:animate-pulse"
					href="https://github.com/pranavTripathi02"
					target="_blank"
					aria-label="github link"
				>
					<div title="GitHub">
						<Icon icon="github" />
					</div>
				</a>
			</a>
			<style>
				a:hover {
					color: white;
				}
			</style>
		</div>
	</footer>
</div>
