---
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<h2 class="text-gray-500">{title}</h2>
<style>
    h2 {
        font-size: 1.15rem;
        text-transform: capitalize;
        letter-spacing: -0.025em;
        /* font-weight: 700; */
        /* font-family: "" */
        /* font-family: "Brygada 1918"; */
    }
</style>
