---
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<h2 class="text-[var(--text-alt)]">{title}</h2>
<style>
    h2 {
        font-size: 1.15rem;
        text-transform: capitalize;
        letter-spacing: -0.025em;
    }
</style>
