---
import Heading from "./Heading.astro";
import ProjectCard from "./ProjectCard.astro";
import { getProjects } from "../lib/projects.ts";
const projects = getProjects();
---

<div class="mt-12">
	<Heading title="projects" />
    <br/>
	<div class="grid grid-cols-2 gap-8 md:grid-cols-3">
		{
			projects.map((item) => {
				const { url, repo, repoLink, desc } = item;
				return <ProjectCard {url} {repo} {repoLink} {desc} />;
			})
		}
	</div>
</div>
