@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Brygada+1918:ital@1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%);
	--text: #e5e5e5;
	--text-alt: #8a8a8a;
	--bg: #171717;
}

svg {
    width:1rem;
    height:1rem;
}

body {
	background: var(--bg);
	font-family: "Inter",system-ui,sans-serif;

	line-height: 1.6;
	font-size: 1rem;
	padding: 1rem 0;
	min-height: 100vh;
	color: var(--text);
	/* color:black; */
}

i {
	font-family: "Brygada 1918",serif;
}

h1,
h2 {
	letter-spacing: -0.02em;
}

h3,
h4,
h5,
h6 {
	letter-spacing: -1.5%;
}

body,
html {
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
	font-smooth: antialiased;
	text-rendering: optimizeLegibility;
}

* {
	--un-outline-color-opacity: 1;
	outline-color: rgb(255 255 255 / var(--un-outline-color-opacity));
}
