---
import styles from "/style.css?url";
import Grain from "../components/Grain.astro";
import Footer from "../components/Footer.astro";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href=`${styles}`>
        <title>{title}</title>
    </head>
    <body>
        <div class="mx-auto max-w-container px-4">
            <header
                class="mt-2 flex h-8 items-center justify-between"
            >
                <slot name="header-content">
                    <a href="/">← back</a>
                </slot>
            </header>
            <slot />
        </div>
        <Grain opacity={.5} />
        <Footer />
    </body>
</html>
